.restaurant {
  position: relative;
  background: rgb(1, 1, 1, 0.4);
}
.restaurant img{
  max-width: 100%;
  max-height: 100%;
  width: 600px;
  height: 400px;
}
.restaurant .restaurant-rating {
  margin: 5px;
  padding: 5px;
  text-align: center;
}
.restaurant .restaurant-rating .fa-star {
  margin: 0 2px;
}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: #000;
}
.star-rating.readonly .star.filled {
  color: #666;
}
