<form>
	<div class="form-group col-md-12">
		<div class="input-group col-md-4 pull-right">
			<div class="input-group-addon"><i class="fa fa-search"></i></div>
			<input type="text" class="form-control" list="criteria" name="search" placeholder="Search" ng-model="search">
			<datalist id="criteria">
				<option value="Oysters">
				<option value="Canada">
				<option value="Wine">
				<option value="Children">          
				<option value="Pizza">
				<option value="Subs">
			</datalist>
		</div>
	</div>
</form>
<hr>
<div>
	<header>
		<!--<h1>{{ app.title }}</h1>-->
	</header>
	<div class="row">
		<div  class="col-xs-12 col-sm-6" ng-repeat="r in (vm.Restaurants = (vm.data | filter:search )) track by $index">

			<div tabindex=0 class="card restaurant"  ng-keypress="vm.open(r, $index)" ng-click="vm.open(r, $index)"><img ng-src="{{r.image}}" alt="{{r.name}} image" class="card-img-top img-fluid" />
				<div class="card-block">
					<ul class="restaurant-rating">
						<li ng-repeat="stars in vm.getRating(r.rating) track by $index" aria-hidden="true" class="fa fa-star"></li>
					</ul>
					<h4 class="card-title">{{r.name}}</h4>
					<p class="restaurant-location">{{r.location.city}}, {{r.location.country}}</p>
					<p class="card-text">{{r.description | limitTo: 150 }}...</p>
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>